<html>
  <head>
    <title>React Example with Kemal</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/beepjs/0.0.1/beep.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <main id="chat"></main>
    <script src="/javascripts/main.js"></script>
  </body>
</html>

