<!DOCTYPE html>
<html>
  <head>
    <title>Blog using Kemalyst</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Testing the Crystal and Kamelyst
    alternative to RoR's.">
    <meta name="author" content="Dru Jensen">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <% if authorized %>
            <a class="blog-nav-item" href="/posts/new">New</a>
            <a class="blog-nav-item navbar-right" href="/logout">Sign Out</a>
          <% else %>
            <a class="blog-nav-item navbar-right" href="/login">Sign In</a>
          <% end %>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Example Blog</h1>
        <p class="lead blog-description">A Blog Site built using Crystal and
        Kemalyst.</p>
      </div>
      
      <div class="row">
        <div class="col-sm-8 blog-main">
          <%= content %>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>This is an example Blog site using Crystal, Kemalyst and
            the Bootstrap Blog template.  Check out the source <a
              href="https://github.com/drujensen/kemalyst/samples/blog"
              target="_blank">here</a></p>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>

